<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Bill Split</title>
</head>
<body>
<th:block th:replace="fragments/header :: header"/>
<div class="container">
  <th:block layout:fragment="content"/>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>