<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" th:with="activeTab='splitGroups'">
<head>
    <title>Groups</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col">
            <h3>Your groups</h3>
        </div>
        <div class="col-auto">
            <div class="btn-group btn-group-md">
                <a th:href="@{/splitGroup/new}" class="btn btn-primary btn-small mx-1">Add Group</a>
                <a th:href="@{/splitGroup/join}" class="btn btn-primary btn-small mx-1">Join Group</a>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Currency</th>
                <th scope="col">Actions</th>
                <th scope="col">Admin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="splitGroup:${splitGroups}">
                <td scope="col">
                    <a th:href="@{/splitGroup/{id}(id=${splitGroup.id})}" th:text="${splitGroup.groupName}">Group name</a>
                </td>
                <td th:text="${splitGroup.groupDescription}" scope="col">Description</td>
                <td th:text="${splitGroup.baseCurrency}" scope="col">Currency</td>
                <td scope="col">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary" th:href="@{/expense/new(splitGroupId=${splitGroup.id})}">Add expense</a>
                    </div>
                </td>
                <td th:if="${splitGroup.isUserAdmin(__${#authentication.principal.id}__)}" scope="col">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary" th:href="@{/splitGroup/{id}/user/new(id=${splitGroup.id})}">Add member</a>
                        <a class="btn btn-secondary" th:href="@{/splitGroup/{id}/admin(id=${splitGroup.id})}">Manage group</a>
                    </div>
                </td>
                <td th:unless="${splitGroup.isUserAdmin(__${#authentication.principal.id}__)}" scope="col">
                    <div class="btn-group btn-group-sm">
                        <span>Not admin</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>