<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" th:with="activeTab='splitGroups'">
<head>
    <title th:text="${splitGroup.groupName}">Group name</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col">
            <h3 th:text="${splitGroup.groupName}">Your group</h3>
        </div>
    </div>
    <div class="row">
        <h5 th:text="${splitGroup.groupDescription}">Your group description</h5>
    </div>
    <!-- Group summary table -->
    <div class="row mb-20 justify-content-evenly" >
        <div class="col-auto">
            <h5 align="center">Current</h5>
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Group Expenses</th>
                    <th scope="col">Your Expenses</th>
                    <th th:text="${splitGroup.getAmountOwedByUserId(__${#authentication.principal.id}__).signum()} > 0 ? 'Owed by you' : 'Due to you'" scope="col">Amount you owe</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${splitGroup.baseCurrency}">Group currency</td>
                    <td th:text="${splitGroup.getExpensesNotSplitTotal()}">Total expenses</td>
                    <td th:text="${splitGroup.getExpensesNotSplitTotalByUserId(__${#authentication.principal.id}__)}">Your expenses</td>
                    <td th:text="${splitGroup.getAmountOwedByUserId(__${#authentication.principal.id}__).abs()}">Amount owed</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-auto">
            <h5 align="center">All Time</h5>
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Group Expenses</th>
                    <th scope="col">Your Expenses</th>
                    <th th:text="${splitGroup.getConfirmedPaymentsTotalForUserId(__${#authentication.principal.id}__).signum()} > 0 ? 'Payment to you' : 'Payment by you'" scope="col">Paid to you</th>
                    <th th:text="${splitGroup.getNotConfirmedPaymentsTotalForUserId(__${#authentication.principal.id}__).signum()} > 0 ? 'Pending payment to you' : 'Pending payment by you'" scope="col">Pending paid to you</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${splitGroup.baseCurrency}">Group currency</td>
                    <td th:text="${splitGroup.getExpensesTotal()}">Total expenses</td>
                    <td th:text="${splitGroup.getExpensesTotalByUserId(__${#authentication.principal.id}__)}">Total expenses</td>
                    <td th:text="${splitGroup.getConfirmedPaymentsTotalForUserId(__${#authentication.principal.id}__).abs()}">Paid to you</td>
                    <td th:text="${splitGroup.getNotConfirmedPaymentsTotalForUserId(__${#authentication.principal.id}__).abs()}">Pending paid to you</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:if="${!payments.isEmpty()}" class="row justify-content-between">
        <div class="col">
            <h4>Payments</h4>
        </div>
    </div>
    <!-- Group payments table - can this be collapsible-->
    <div th:if="${!payments.isEmpty()}" class="row mb-20" align="center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment:${payments}">
                <td th:text="${payment.fromUser.fullName}" scope="col"></td>
                <td th:text="${payment.toUser.fullName}" scope="col"></td>
                <td th:text="${payment.amount}" scope="col"></td>
                <td th:text="${payment.paymentStatus.getFieldDescription()}" scope="col"></td>
                <td scope="col">
                    <div class="btn-group btn-group-sm">
                        <a th:if="${payment.paymentStatus.name == 'NOT_PAID' && payment.fromUser.id == __${#authentication.principal.id}__}" class="btn btn-secondary" th:href="@{/payment/{id}/(id=${payment.id},status='PAID_PENDING')}">Pay</a>
                        <a th:if="${payment.paymentStatus.name == 'PAID_PENDING' && payment.toUser.id == __${#authentication.principal.id}__}" class="btn btn-danger" th:href="@{/payment/{id}/(id=${payment.id},status='PAID_CONFIRMED')}">Confirm payment</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <h4>Expenses</h4>
        </div>
        <div class="col-auto">
            <div class="btn-group btn-group-md">
                <a class="btn btn-primary btn-small" th:href="@{/splitGroup/{splitGroupId}/expense/new(splitGroupId=${splitGroup.id})}">Add expense</a>
            </div>
        </div>

    </div>
    <!-- Group expenses table - can this be collapsible-->
    <div class="row mb-20" align="center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Converted Amount</th>
                <th scope="col">Currency</th>
                <th scope="col">Original Amount</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense:${splitGroup.expenses}">
                <td th:text="${expense.user.fullName}" scope="col"></td>
                <td th:text="${expense.expenseDate}" scope="col"></td>
                <td th:text="${expense.name}" scope="col"></td>
                <td th:text="${expense.expenseDescription}" scope="col"></td>
                <td th:text="${expense.amount}" scope="col"></td>
                <td th:text="${expense.currency}" scope="col"></td>
                <td th:text="${expense.currencyAmount}" scope="col"></td>
                <td scope="col">
                    <div th:if="${expense.isSplit}" class="btn-group btn-group-sm">
                        <span>Settled</span>
                    </div>
                    <div th:if="${!expense.isSplit && expense.user.id == __${#authentication.principal.id}__}" class="btn-group btn-group-sm">
                        <a class="btn btn-secondary" th:href="@{/expense/{id}/edit(id=${expense.id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/expense/{id}/delete(id=${expense.id})}">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-between">
        <div class="col-auto">
            <h4>Group members</h4>
        </div>
    </div>
    <!-- Group members table - can this be collapsible-->
    <div class="row" align="center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member:${users}">
                <td th:text="${member.fullName}" scope="col">Name</td>
                <td th:text="${member.username}" scope="col">Email</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>